
header.header
    nav.header__nav.u-container
        div.header__burger
            span
            span
            span
        ul.header__list
            li.header__item.header__brand
                a room
            li.header__item.header__link
                a home
            li.header__item.header__link
                a shop
            li.header__item.header__link
                a about
            li.header__item.header__link
                a contact

