
header.u-container.header
    nav.header__nav
        div.header__burger
            span
            span
            span
        ul.header__list
            li.header__item.header__brand room
            li.header__item.header__link home
            li.header__item.header__link shop
            li.header__item.header__link about
            li.header__item.header__link contact

