.slider {
	position: relative;

	overflow-x: hidden;

	&__wrapper {
		display: flex;
	}

	&__slide {
		display: grid;
		flex: 0 0 100%;
		max-width: 100%;
		@include media-desktop-sm {
			grid-template: {
				columns: 1fr;
			};
		}
		grid-template: {
			columns: 1.5fr 1fr;
		};
	}

	&__img {
		min-height: rem(550px);
	}
}

.caption {
	flex: 0 1 40%;
	padding: rem(95px);
	@include media-phone {
		padding: rem(90px) rem(50px);
	}

	&__header {
		@include font(rem(45px), 600);

		margin-bottom: rem(30px);

		color: $color-font--main;
		letter-spacing: -1 * rem(3px);
	}

	&__info {
		@include font(rem(13px), 500);

		margin-bottom: 30px;

		color: $color-font--secondary;
		line-height: rem(20px);
		@include media-phone {
			margin-bottom: 45px;
		}
	}

	&__cta {
		@include font(rem(13px), 500);
		display: flex;
		align-items: baseline;
		margin-bottom: rem(40px);

		color: $color-font--main;
		letter-spacing: rem(9px);
		text-transform: uppercase;

		cursor: pointer;

		transition: color ease 0.6s;

		img {
			margin-left: rem(30px);

			transition: filter ease 0.6s;
		}

		&:hover {
			color: $color-font--secondary;

			img {
				filter: opacity(0.4);
			}
		}
	}
}

.controls {
	position: absolute;
	right: 0;
	bottom: 0;

	display: flex;

	width: rem(170px);
	height: rem(80px);

	transform: translateX(100%);

	&__back,
	&__forward {
		flex: 1 1 auto;

		background-color: $color-font--main;
		cursor: pointer;

		transition: background-color ease 0.6s;

		&:hover {
			background-color: $color-font--secondary-dark;
		}

		div {
			height: 100%;

			background: {
				position: center center;
				repeat: no-repeat;
			};
		}
	}

	&__back {
		div {
			background: {
				image: url('~Images/icons/icon-angle-left.svg');
			};
		}
	}

	&__forward {
		div {
			background: {
				image: url('~Images/icons/icon-angle-right.svg');
			};
		}
	}
}
