.u-container {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 rem(35px);
}

.u-img-responsive {
	position: relative;

	img,
	source {
		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.caption {
	flex: 0 1 40%;
	height: 100%;
	padding: {
		top: rem(90px);
		bottom: rem(50px);
	};

	&__header {
		@include font(rem(45px), 600);

		margin-bottom: rem(30px);

		color: $color-font--main;
		letter-spacing: -1 * rem(3px);
	}

	&__info {
		@include font(rem(13px), 500);

		margin-bottom: 30px;

		color: $color-font--secondary;
		line-height: rem(20px);
		@include media-phone {
			margin-bottom: 45px;
		}
	}

	&__cta {
		@include font(rem(13px), 500);
		display: flex;
		align-items: baseline;
		margin-bottom: rem(60px);

		color: $color-font--main;
		letter-spacing: rem(9px);
		text-transform: uppercase;

		cursor: pointer;
		user-select: none;

		transition: color ease 0.6s;

		img {
			margin-left: rem(30px);

			transition: filter ease 0.6s;
		}

		&:hover,
		&:focus,
		&:active {
			color: $color-font--secondary;

			img {
				filter: opacity(0.4);
			}
		}
	}
}
